<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/zavira"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/zavira_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICFESUP"
        tools:targetApi="31">
        <activity
            android:name=".lenny_testi.TestLottie"
            android:exported="true" />
        <activity
            android:name=".lenny_testi.TestGamificado"
            android:exported="false" />
        <activity
            android:name=".lenny_testi.MiniTest"
            android:exported="false" />
        <activity
            android:name=".lenny_testi.SplashAnimation"
            android:exported="true"
            android:theme="@style/Theme.ICFESUP" /> <!-- MainActivitytest sin intent-filter -->
        <activity
            android:name=".lenny_testi.MainActivitytest"
            android:exported="true" /> <!-- SplashActivity con intent-filter (inicio de la app) -->
        <activity
            android:name=".logueo.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ICFESUP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logueo.Menu_Logueo"
            android:exported="false" />
        <activity
            android:name=".logueo.Restablecer_Contrasena"
            android:exported="false" />
        <activity
            android:name=".logueo.Registro_Administrador"
            android:exported="false" />
        <activity
            android:name=".logueo.Registro_Usuario"
            android:exported="false" />
        <activity
            android:name=".simulacroANA.Welcome_Test_Activity"
            android:exported="false" />
        <activity
            android:name=".configuracion.Lenny_Cerrarsesion"
            android:exported="false" />
        <activity
            android:name=".configuracion.Lenny_Editarperfil"
            android:exported="false" />
        <activity
            android:name=".ui.configuracionn.Lenny_Perfil"
            android:exported="false" />
        <activity
            android:name=".configuracion.Lenny_Reporte"
            android:exported="false" />
        <activity
            android:name=".configuracion.Lenny_Sugerencias"
            android:exported="false" />
        <activity
            android:name=".configuracion.Lenny_Verperfil"
            android:exported="false" />
        <activity android:name=".Gamificacion_LUIS.Ruleta_LUIS" />
        <activity android:name=".simulacroANA.CategoriasActivity" />
        <activity
            android:name=".logueo.Sobre_Nosotros"
            android:exported="false" />
        <activity android:name=".Mundos.Mundos_activity" />
        <activity
            android:name=".logueo.Inicio_Sesion"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ICFESUP" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ICFESUP" />
        <activity android:name=".mod_supervivencia.SupervivenciaActivity" />
        <activity android:name=".mod_supervivencia.BienvenidaSupervivenciaActivity" />
        <activity android:name=".Mundos.MundoDetalleActivity" />
        <activity android:name=".Mundos.matematicas.facil.FacilMatematicasActivity" />
        <activity android:name=".Mundos.lectura_critica.facil.FacilLecturaCriticaActivity" />
        <activity android:name=".Mundos.sociales.facil.FacilSocialesActivity" />
        <activity android:name=".Mundos.ciencias_naturales.facil.FacilCienciasActivity" />
        <activity android:name=".Mundos.ingles.facil.FacilInglesActivity" />
    </application>

</manifest>