<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICFESUP"
        tools:targetApi="31">
        <activity
            android:name=".configuracion.Lenny_TesInicial"
            android:exported="false" />
        <activity
            android:name=".simulacroANA.Welcome_Test_Activity"
            android:exported="false" />
        <activity
            android:name=".configuracion.Lenny_Cerrarsesion"
            android:exported="false" />
        <activity
            android:name=".configuracion.Lenny_Editarperfil"
            android:exported="false" />
        <activity
            android:name=".configuracion.Lenny_Perfil"
            android:exported="false" />
        <activity
            android:name=".configuracion.Lenny_Reporte"
            android:exported="false" />
        <activity
            android:name=".configuracion.Lenny_Sugerencias"
            android:exported="false" />
        <activity
            android:name=".configuracion.Lenny_Verperfil"
            android:exported="false" />
        <activity android:name=".Gamificacion_LUIS.Ruleta_LUIS" />
        <activity android:name=".simulacroANA.CategoriasActivity" />
        <activity
            android:name=".logueo.Sobre_Nosotros"
            android:exported="false" />
        <activity
            android:name=".logueo.Inicio_Sesion_Usuarios"
            android:exported="false" />
        <activity android:name=".Mundos.Mundos_activity" />
        <activity
            android:name=".logueo.Inicio_Sesion"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ICFESUP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ICFESUP" />
        <activity android:name=".mod_supervivencia.SupervivenciaActivity" />
        <activity android:name=".mod_supervivencia.BienvenidaSupervivenciaActivity" />
        <activity android:name=".Mundos.MundoDetalleActivity" />
        <activity android:name=".Mundos.matematicas.facil.FacilMatematicasActivity" />
        <activity android:name=".Mundos.lectura_critica.facil.FacilLecturaCriticaActivity" />
        <activity android:name=".Mundos.sociales.facil.FacilSocialesActivity" />
        <activity android:name=".Mundos.ciencias_naturales.facil.FacilCienciasActivity" />
        <activity android:name=".Mundos.ingles.facil.FacilInglesActivity" />
    </application>

</manifest>